@{
    ViewBag.Title = "HomeIndex";
}

<h2></h2>
<style>body {background-color: ;}</style>
&nbsp
&nbsp
&nbsp
<div class ="Container">
<div class="BigImage">
    <img src ="g"/>

</div>
     </div>
 
    <div style="text-align:center">

<div class ="AboutMe test">
    
    <h1><a href="@Url.Action("Index", "WhatIs")"> Mo's Art</a></h1>
      
        <p style ="text-align:center; color:darkviolet;"> Click Here to Learn </p>
        <p style ="text-align:center; color:darkviolet;"> What Mo's Art Is All About  </p>
    
</div>

<div class ="MyWork test">
    <h1> <a href="@Url.Action("Index", "About")"> About Mo</a></h1>
    
        <p style ="text-align:center; color:darkviolet;"> Click Here To Learn About Mo </p>
        <p style ="text-align:center; color:darkviolet;"> And Her Art </p>
    
</div>

<div class ="Contacts test">
    <h1><a href="@Url.Action("Index", "YourArt")">Your Art</a></h1>
    
        <p style ="text-align:center; color:darkviolet;"> Click Here To Display </p>
        <p style ="text-align:center; color:darkviolet;"> Pieces Of Your Own Art</p>
    
</div>
        <div class ="Contacts test">
    <h1><a href="@Url.Action("Index", "Contact")">Contact Me</a></h1>
    
        <p style ="text-align:center; color:darkviolet;"> Click Here To Get In Contact </p>
        <p style ="text-align:center; color:darkviolet;"> With Mo And Others Via Email </p>
    
</div>

       
    </div>